* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(136.56deg, #8a53b6 0%, #cea2d0 97.42%) no-repeat;
    font-family: 'Inter', 'LatoWeb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 800px;
    height: 400px;
    border-radius: 18px;
    border: 1.5px solid darkgray;
    overflow: hidden;
    background: white;
}

.output-messages{
    width: 100%;
    height: 80%;
    background: darkgray;
    opacity: 0.2;
}

.input-message{
    width: 100%;
    height: 20%;
}
