#chatPage{
    width: 660px;
    height: 380px;
    margin-bottom: 140px;
    align-items: center;
    justify-content: center;
}
.chat-container {
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
}


#messageArray {
    width: 100%;
    height: 75%;
    padding-bottom: 7px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}
.chat-message-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message__avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.chat-message__user-info {
    flex-grow: 1;
}

.chat-message__username {
    font-weight: 560;
    font-size: 17px;
}

.chat-message__content {
    font-size: 15px;
    word-wrap: break-word;
}

.event-message{
    margin-bottom: 10px;
    text-align: center;
}

.message-input-container{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message{
    width: 100%;
    height: 52%;
    padding-left: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    background: rgb(128, 128, 128, 0.14);
}
#message:focus{
    outline: none;
}
