* {
    margin: 0;
    padding: 0;
}

:root{
    --border-radius: 20px
}

body {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(136.56deg, #8a53b6 0%, #cea2d0 97.42%) no-repeat;
    font-family: 'Inter', 'LatoWeb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.splitter{
    width: 100%;
    border-bottom: solid #ccc 1px;
    margin-bottom: 10px;
}