#usernamePage{
    width: 480px;
    height: 200px;
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: white;
}

.username-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username__label{
    font-size: 20px;
    font-weight: 600;
}

#usernameForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username__form-group-1, .username__form-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.username__form-group-1{
    height: 30%;
    width: 75%;
    margin-top: 20px;
    margin-right: 10px;
}
.username__form-group-2{
    height: 30%;
    width: 25%;
    margin-top: 20px;
}

#username{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    background: rgb(128, 128, 128, 0.14);
}
.username-submit{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    background: rgb(128, 128, 128, 0.14);
}